body{
  background-color: teal;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  width: 300px;
  padding: 20px;
  background-color: #fff;
  margin: auto;
}
.container div{
  padding-top:10px;
}

.container p{
font-size: 19px;
}

.container input{
  width: 94%;
  padding: 8px;
  font-size: 18px;
}

button{
  width:100%;
  margin:auto;
  padding: 10px;
  background-color: teal;
  border: none;
  font-size: 19px;
  margin-top: 10px;
  cursor: pointer;
}
.result p{
  text-align: center;
  font-size: 18px;
}